
   
body {
 
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to top, rgb(232, 226, 218), rgb(166, 158, 149)), url(1.jpg);
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout l'arrière-plan */
    height: 100vh;
   
   
}
footer {
    background-color: rgb(232, 213, 199);
    text-align: center;
    padding: 1%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 5px;
    border: thin solid grey;
    margin-bottom: 1%;
}

.error_message {
    border: thin red solid;
    background-color: lightcoral;
    text-align: center;
    width: 60%;
    margin: auto;
}

section {
    z-index: 2;
    background-color: transparent;
    padding: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
 
}
section h1 {
    text-align: center;
    
    
}

section h1 span {
    background-color: rgb(232, 213, 199); /* Appliquer le fond seulement sur le texte de h1 */
    padding: 10px;
    border: #000;
    border-radius: 6px; /* Pour arrondir les coins */
}


form {
    display: flex;
    flex-direction: column;
}
 
form input{
    margin: 5px 0;
    padding: 5px 5px;
    outline: 0;
    border: 2px solid#000;
    border-radius: 6px;
}

.submit-button {
     /* Pour occuper la largeur complète du conteneur */
    text-align: center; /* Pour centrer le bouton */
    padding: 10px;
}
form input[type='submit']{
background-color: blue;
border: 0;
color: white;
margin-top: 25px;
text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100% ;
    position: fixed;
}

 
.image {
    position: fixed; /* Position fixée pour que l'image reste en arrière-plan lors du défilement */
    top: 0;
    left: 0;
    width: 100%; /* La largeur de l'image est égale à 100% de la largeur de la fenêtre du navigateur */
    height: 100%; /* La hauteur de l'image est égale à 100% de la hauteur de la fenêtre du navigateur */
    z-index: -1; /* Place l'image en arrière-plan */
}
 
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensionne l'image pour remplir complètement le conteneur tout en conservant son ratio d'aspect */
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#000;
	filter: blur(10px) contrast(20);
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-container {
    perspective: 1000px;
    backface-visibility: hidden;
    position: absolute;
    animation: rotation 50s linear infinite;
    z-index: 0;
    width: 500px; /* Largeur fixe pour le conteneur */
    height: 500px; /* Hauteur fixe pour le conteneur */
    /* Centrer horizontalement et verticalement */
}

.image-container img {
    width: 100%; /* Remplir le conteneur */
    height: 100%; /* Remplir le conteneur */
    object-fit: contain; /* Ajuster l'image à l'intérieur du conteneur */
    transform-origin: center center; /* Définir le centre de l'image comme axe de rotation */
}

